@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">

    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown position-relative" href="#" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="align-middle bi bi-gear"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">


                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                    <i class="align-middle me-1 bi bi-person"></i> View Profile
                </a>

                <a class="dropdown-item" href="#"><i class="align-middle me-1 fa fa-address-book-o"></i> Contacts</a>
                <a class="dropdown-item" href="#"><i class="align-middle me-1 fas fa-fw fa-chart-pie"></i> Analytics</a>
                <a class="dropdown-item" href="#"><i class="align-middle me-1 fas fa-fw fa-cogs"></i> Settings</a>
                <div class="dropdown-divider"></div>

                <div class="dropdown-item">
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="btn btn-link nav-link text-dark p-0">  <i class="bi bi-box-arrow-right">&nbsp;</i> Logout</button>
                    </form>
                </div>
        </div>
        </li>
        <li class="nav-item">
            <a id="ShoppingCart" class="nav-link" asp-controller="ShoppingCart" asp-area="Customer" asp-action ="Index" title="Manage"><i class="bi bi-cart"></i></a>
        </li>

    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login"><i class="bi bi-box-arrow-in-right">&nbsp;</i>Login</a>
        </li>
    }



</ul>
